.main-content {
  margin-top: 110px;
  @media screen and (max-width: $screen-xs-max){
    margin-top: 90px;
  }
}

.about-wrap {

  @media screen and (min-width: $screen-sm){
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.about-image {
  padding:10px 0;
  text-align: center;
  @media screen and (min-width: $screen-sm){
    padding: 40px 0;
    min-width: 400px;
  }
  img {
    max-width: 100%;
  }
}

.about-content{
  padding: 0 30px;
  @media screen and (min-width: $screen-sm){
    padding: 50px;
  }

  h2 {
    font-size: 42px;
    color: $primary-color;
    font-weight: bold;
    margin-bottom: 25px;
  }

  p {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
    @media screen and (min-width: $screen-sm){
      font-size: 24px;
    }
  }

}

.img-responsive {
  max-width: 100%;
}

.contact-story {
  h1 {
    color: $primary-color;
  }
}