.products {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #fff;

  h2 {
    margin: 0 0 30px;
  }

  .product {
    @extend %column;
    @extend %col-sm-4;
    @extend %product;
  }

  &.tiles-grid{

    .product {
      width: 50%;
      height: 100%;
    }

  }

  .tiles-grid-row {
    display: flex;
  }

  @media screen and (max-width: $screen-xs-max) {
    padding-top: 15px;
    padding-bottom: 15px;
    .tiles-grid-row {
      flex-direction: column;
    }
    &.tiles-grid{

      .product {
        width: 100%;
      }

    }

    h2 {
      margin: 0 0 15px;
    }
  }
}