.product-detail{
  position: relative;
  @media screen and (min-width: $screen-sm){
    display: flex;
    justify-content: center;

  }
  .image{
    img {
      max-width: 100%;
    }
    width: 50%;
  }

  .content {
    width: 50%;
  }

  .meta, .body {
    padding: 30px;
  }

  .body {
    padding-bottom: 15px;
    padding-top: 0;
    p {
      margin-bottom: 15px;
    }

    li {
      font-size: 18px;
      line-height: 28px;
    }
  }
  .meta {
    background-color: #fff;
    
    h1 {
      margin-top: 0;
      font-size: 40px;
    }
  }

  .price, .weight {
    display: inline-block;
    font-weight: bold;
    font-size: 20px;
  }

  .price {
    margin-left: 30px;
    color: $primary-color;
  }


  @media screen and (max-width: $screen-sm-max){
    width: 100%;
    .image {
      position: relative;
      width: 100%;
    }

    .content {
      position: relative;
      width: 100%;
    }
  }
  @media screen and (max-width: $screen-sm-max){
    .meta, .body {
      padding: 20px;
    }
  }
}