---
title: Suka Bio - Natural stones
---

section.hero style=background_image(image_path(data.pages.home.hero.image))
  .caption
    .row


section.homepage-story
  .container
    .row
      .story-content
        h1 = data.pages.home.hero.title
        = markdown data.pages.home.story

/ section.homepage-products.products.tiles-grid
/   .container
/     h2
/       | Tiles
/     .row.tiles-grid-row
/       //product is structured: ['filename', 'data']
/       //sort by newest product
/       | <div class="product"><a href="/products"><div class="product-image"><img src="/images/uploads/tile-indian.png" alt="SukaBio"></div><div class="product-content"><div class="title"><h3>INDIAN GREEN TILE</h3></div><div class="price"><p></p></div><div class="weight"><p>The new product and commitment of our company for large and luxurious pools</p></div></div></a></div><div class="product"><a href="/products"><div class="product-image"><img src="/images/uploads/tile-green.jpg" alt="Green sukabuhmi pool tile"></div><div class="product-content"><div class="title"><h3>SUKABUMI GREEN HIJAU</h3></div><div class="price"><p></p></div><div class="weight"><p>The tile that strongly represents the policy and culture of our company.</p></div></div></a></div>
/
/ section.homepage-news.news
/   .container
/     h2
/       | Projects
/     .news-items
/       //get the first two most recent posts
/       - blog.articles.first(2).each do | article |
/         = partial 'partials/news/news_item', locals: {article: article}